.contributorWrapper {
    background-color: var(--ifm-custom-background-color);
}

.wrapper {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .4);
    background-color: #fff;
    border-radius: 15px;
    /* padding: 15px 0; */
}

.affiliation {
    font-size: 0.85rem;
    color: var(--ifm-color-emphasis-700);
    margin-top: 0.25rem;
}

.email {
    font-size: 0.85rem;
    margin-top: 0.1rem;
}