/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.GoldenSponsor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.GoldenSponsor > * {
  margin: 20px;
}

.GoldenSponsor > p {
  text-align: justify;
}

.modulesWrapper{
  margin: 20px 0;
}

.osImage{
  filter: brightness(0) invert(.5);
  opacity: .5;
}

.technologyLogo{
  border-radius: 0;
}

.githubButton img{
  background-color: #fff;
  border-radius: 30px;
  padding: 2px;
  margin-top: 8px;
}

.componentItems{
  display: flex;
  justify-content: space-between;
}

.componentItems a{
  display: flex;
}

.articleYear {
  align-items: flex-end;
}