/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.GoldenSponsor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.GoldenSponsor > * {
  margin: 20px;
}

.GoldenSponsor > p {
  text-align: justify;
}

.modulesWrapper{
  margin: 20px 0;
}

.osImage{
  filter: brightness(0) invert(.5);
  opacity: .5;
}

.technologyLogo{
  border-radius: 0;
}

.githubButton img{
  background-color: #fff;
  border-radius: 30px;
  padding: 2px;
  margin-top: 8px;
}

.componentItems{
  display: flex;
  justify-content: space-between;
}

.componentItems a{
  display: flex;
}

.articleYear {
  align-items: flex-end;
}

.downloadTable {
  overflow-x: scroll;
}

.downloadTable th {
  width: 20%;
  border: none;
  background-color: var(--ifm-custom-table-background-color);
}

.downloadTable thead, tfoot {
  font-size: 16pt;
}

.moduleCardPackage {
  background-color: var(--ifm-navbar-search-input-background-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 240px;
  justify-content: space-between;
  font-size: 11pt;
  font-weight: 400;  
  padding: 10px;
  text-align: center;
}

.downloadTable thead th {
  text-align: left;
}

.downloadTable thead:first-child>tr  {
  border-color: var(--ifm-background-color);
  border-bottom: 6px;
}

.taComponent {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-around; */
}

.taComponent img {
  width: 25px;
  margin-right: 10px;
}

.downloadButton {
  border: 2px solid var(--ifm-link-color);
  border-radius: 25px;
  font-size: 11pt;
  padding: 6px;
  margin: 0 3px;
}

.downloadButton:hover {
  background-color: var(--ifm-link-color);
  color: var(--ifm-custom-table-background-color);
  text-decoration: none;
}

th > svg {
  width: 30px;
}

.versionHeader h3 button{
  border: none;
  background-color: transparent;
  font-size: 16pt;
  font-weight: 600;
  color: var(--ifm-heading-color);
}

.hidden{
  display: none;
}

.versionHead{
  cursor: pointer;
}
